.tags {
    display: flex;
    gap: 10px;
    margin: 10px 0;
  }
  
  .tag {
    background-color: #8b8b8b;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
  }
  